[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinx_rtd_theme = "*"
# docutils needs to be hard-coded, see
# https://github.com/readthedocs/sphinx_rtd_theme/issues/1115
docutils = "==0.16"

[dev-packages]

[requires]
python_version = "3.10"
