[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "==7.3.6"
sphinx-autobuild = "*"
sphinx_rtd_theme = "==2.0.0"

[dev-packages]

[requires]
python_version = "3.10"
