[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "==8.0.2"
sphinx-autobuild = "*"
sphinx_rtd_theme = "==3.0.1"

[dev-packages]

[requires]
python_version = "3.12"
